@media (max-width: 767px) {
  .form {
    padding: 17px 30px 55px 30px;
  }

  .form__additional-info {
    .font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
  }
}

.form__title-text {
  .font;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
