@media (max-width: 767px) {
  .form {
    padding: 17px 30px 55px 30px;
  }

  .form__additional-info {
    .font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    padding-top: 12px;
    padding-bottom: 30px;
    margin: 0;
  }

  .form__title-text {
    .font;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    margin: 0;

    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__additional-info {
    .font;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
  }

  .form__title-text {
    .font;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    width: 655px;
    padding-top: 46px;
    padding-left: 53px;
  }

  .form__title-text>br {
    display: none;
  }
}


@media (min-width: 1150px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__title-text>br {
    display: none;
  }

  .form__additional-info {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-left: 171px;
  }

  .form__title-text {
    .font;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-left: 224px;
    padding-top: 86px;
    width: 700px;
    padding-bottom: 45px;
  }
}