@media (max-width: 767px) {
  .introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    min-width: 320px;
  }

  .introduce__picture {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../img/mobile/hero-mobile.jpg") no-repeat center top 15px;
    min-height: 283px;
    min-width: 320px;

    @media (min-resolution: 2dppx) {
      background: url("../../img/mobile/hero-mobile@2x.jpg") no-repeat center;
      background-size: 320px 373px;
    }
  }


  .introduce__slogan {
    font-family: @font;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 52px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }

  .introduce__picture {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url("../../img/tablet/hero-tablet.jpg") no-repeat center 78px;
    width: 100%;
    height: 620px;

    @media (min-resolution: 2dppx) {
      background: url("../../img/tablet/hero-tablet@x2.jpg") no-repeat center 75px;
      background-size: 1150px 575px;
    }
  }


  .introduce__slogan {
    .font;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    text-align: center;
    max-width: 668px;
    padding-top: 160px;
  }
}

@media (min-width: 1150px) {
  .introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }

  .introduce__picture {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 620px;
    background: url("../../img/desktop/hero-desktop.jpg") no-repeat center 70px;

    @media (min-resolution: 2dppx) {
      background: url("../../img/desktop/hero-desktop@x2.jpg") no-repeat center 65px;
      background-size: 1150px 590px;
    }
  }

  .introduce__slogan {
    .font;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    margin: 0;
    text-align: center;
    max-width: 668px;
    padding-top: 160px;
  }
}
