.navigation__search-icon {
  opacity: 1;
  fill: #000000;
}

.navigation__search-icon:hover {
  fill: #63d1bb;
  opacity: 1;
}

.navigation__search-icon:active {
  fill: #63d1bb;
  opacity: 1;
}

.second-menu__cart-icon {
  fill: #000000;
  opacity: 1;
}

@media (max-width: 767px) {
  .navigation__bottom-menu,
  .navigation__additional-info {
    display: none;
  }

  .navigation__first-menu,
  .navigation__second-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none; // hide mobile menu
  }

  .navigation__menu-item {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    border: 1px solid #ececec;
    height: 79px;
    padding-left: 75px;
  }

  .navigation__second-menu-item {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    border: 1px solid #ececec;
    height: 79px;
    justify-content: flex-start;
  }

  .navigation__search-icon,
  .second-menu__cart-icon {
    padding: 0 31px;
  }

  .navigation__logo-wrapper {
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header__logo-mobile {
    padding-left: 116px;
    padding-right: 7px;
  }

  .navigation__menu-button {
    padding-left: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .navigation__menu-button {
    display: none;
  }

  .navigation__search-icon-text {
    display: none;
  }

  .navigation {
    display: grid;
    grid-template-columns: 370px 1fr;
    grid-template-rows: 77px 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 77px;
  }

  .navigation__logo-wrapper {
    grid-area: 1 / 1 / 2 / 2;
    padding: 15px 0 22px 50px;
  }

  .navigation__second-menu {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: flex-end;
    display: flex;
    list-style: none;
    padding-right: 10px;
    margin: 0;
  }

  .navigation__second-menu-item {
    .font;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding-top: 32px;
  }

  .navigation__first-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 50px;
    width: 100%;
    padding-top: 10px;
  }

  .navigation__menu-item {
    .font;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }

  .navigation__additional-info {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .navigation__bottom-menu {
    display: none;
  }

  .navigation__item-border {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation__menu-item--tablet-border {
    border: none;
  }

  .navigation__menu-item--padding {
    padding-left: 41px;
  }

  .navigation__search-icon {
    padding: 0 31px;
  }

  .second-menu__search-icon--width {
    width: 81px;
  }

  .navigation__menu-item-width {
    min-width: 314px;
  }

  .second-menu__cart-icon {
    padding: 0 30px;
  }
}

@media (min-width: 1150px) {
  .navigation__menu-button {
    display: none;
  }

  .navigation {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 77px;
  }

  .navigation__first-menu {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 40px;
  }

  .navigation__menu-item {
    .font;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding-top: 32px;
    padding-right: 35px;
  }

  .navigation__menu-item--padding {
    padding-left: 41px;
  }

  .navigation__item-border {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation__logo-wrapper {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    align-items: center;
  }

  .navigation__second-menu {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: flex-end;
    display: flex;
    list-style: none;
    padding-right: 10px;
    margin: 0;
  }

  .navigation__second-menu-item {
    .font;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding-top: 32px;
  }

  .navigation__menu-item-width {
    min-width: 316px;
  }

  .navigation__search-icon {
    padding: 0 31px;
  }

  .second-menu__search-icon--width {
    width: 81px;
  }

  .navigation__bottom-menu {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    list-style: none;
  }

  .navigation__bottom-menu-item {
    .font;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    padding-top: 5px;
    min-width: 160px;
  }

  .navigation__bottom-menu-item--padding {
    padding-left: 85px;
  }

  .navigation__additional-info {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: flex-end;
    padding-right: 55px;
    padding-top: 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .navigation__mobile {
    display: none;
  }

  .navigation {
    display: grid;
    grid-template-columns: 370px 1fr;
    grid-template-rows: 77px 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 77px;
  }

  .navigation__logo-wrapper {
    grid-area: 1 / 1 / 2 / 2;
    padding: 15px 0 22px 50px;
  }

  .navigation__second-menu {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: flex-end;
    display: flex;
    list-style: none;
    padding-right: 10px;
    margin: 0;
  }

  .navigation__second-menu-item {
    .font;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding-top: 32px;
  }

  .navigation__first-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 50px;
    width: 100%;
    padding-top: 10px;
  }

  .navigation__menu-item {
    .font;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }

  .navigation__additional-info {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: flex-end;
    padding-right: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .navigation__bottom-menu {
    display: none;
  }

  .navigation__item-border {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation__menu-item--tablet-border {
    border: none;
  }

  .navigation__menu-item--padding {
    padding-left: 41px;
  }

  .navigation__search-icon {
    padding: 0 31px;
  }

  .second-menu__search-icon--width {
    width: 81px;
  }

  .navigation__menu-item-width {
    min-width: 267px;
  }

  .second-menu__cart-icon {
    padding: 0 30px;
  }

  .second-menu__search-text {
    display: none;
  }
}

@media (min-width: 1150px) {
  .navigation {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 77px;
  }

  .navigation__first-menu {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 40px;
  }

  .navigation__menu-item {
    .font;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding-top: 32px;
    padding-right: 35px;
  }

  .navigation__menu-item--padding {
    padding-left: 41px;
  }

  .navigation__item-border {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation__logo-wrapper {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    align-items: center;
  }

  .navigation__second-menu {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: flex-end;
    display: flex;
    list-style: none;
    padding-right: 10px;
    margin: 0;
  }

  .navigation__second-menu-item {
    .font;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding-top: 32px;
  }

  .navigation__menu-item-width {
    min-width: 316px;
  }

  .second-menu__search-text {
    display: none;
  }

  .navigation__search-icon {
    padding: 0 30px;
    opacity: 0.2;
    fill: #000000;
  }

  .second-menu__search-icon--width {
    width: 80px;
  }

  .second-menu__cart-icon {
    padding: 0 30px;
    fill: #000000;
    opacity: 0.2;
  }


  .navigation__bottom-menu {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    list-style: none;
  }

  .navigation__bottom-menu-item {
    .font;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    padding-top: 5px;
    min-width: 160px;
  }

  .navigation__bottom-menu-item--padding {
    padding-left: 85px;
  }

  .navigation__additional-info {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: flex-end;
    padding-right: 55px;
    padding-top: 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .navigation__search-icon-text {
    display: none;
  }
}
