@media (min-width: 200px) and (max-width: 767px) {
  .product-price {
    display: flex;
    justify-content: space-between;
  }

  .product-price_add-to-cart {
    justify-self: center;
    align-self: center;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .product-price {
    display: flex;
    align-items: flex-end;
  }
}

@media (min-width: 1150px) {
  .product-price {
    width: 204px;
  }
}
