.social-wrapper__social-icon:hover {
  fill: #46c1ae;
}

.social-wrapper__social-icon:active {
  fill: #46c1ae;
  opacity: 0.3;
}

@media (max-width: 767px) {
  .social-wrapper {
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0 30px 0;
  }

  .social-wrapper__social-icon:not(:first-child),
  .developer__social-icon {
    padding-left: 31px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .social-wrapper {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    
  }

  .social-wrapper__social-icon:not(:first-child) {
    padding-left: 32px;
  }
}

@media (min-width: 1150px) {
  .social-wrapper {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-wrapper__social-icon:not(:first-child) {
    padding-left: 32px;
  }
}
