@media (max-width: 767px) {
  .title {
    color: #000000;
    .font;
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    padding-left: 30px;
  }

  .title--padding {
    padding-left: 0;
    padding-bottom: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .title {
    .font;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    padding-left: 50px;
  }

  .title-tablet {
    padding-left: 0;
  }
}

@media (min-width: 1150px) {
  .title {
    .font;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    margin: 0;
  }
}
