@media (max-width: 767px) {
  .video {
    background-image: url("../../img/mobile/video-mobile__backgorund.jpg");
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    min-height: 150px;
  }

  .video > img {
    position: relative;
    left: 45px;
    top: 35px;
  }

  .video::before {
    z-index: 999;
    position: relative;
    left: 118px;
    top: 20px;
    content: url("../../img/mobile/play-symbol.svg");
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .video {
    background-image: url("../../img/tablet/video-tablet__backgorund.jpg");
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    min-height: 455px;
  }

  .video > img {
    position: relative;
    left: 260px;
    top: 200px;
  }

  .video::before {
    z-index: 999;
    position: relative;
    left: 330px;
    top: 185px;
    content: url("../../img/mobile/play-symbol.svg");
  }
}

@media (min-width: 1150px) {
  .video {
    background-image: url("../../img/desktop/video-desktop__backgorund.jpg");
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    min-height: 455px;
  }

  .video > img {
    position: relative;
    left: 265px;
    top: 170px;
  }

  .video::before {
    z-index: 999;
    position: relative;
    left: 335px;
    top: 155px;
    content: url("../../img/mobile/play-symbol.svg");
  }
}
