@media (max-width: 767px) {
  .week-product {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .week-product__subtitle-text > br {
    display: none;
  }

  .week-product__header {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 30px;
  }

  .week-product___wrapper {
    padding-left: 23px;
    padding-right: 30px;
  }

  .week-product__title {
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 3px;
  }

  .week-product__title--padding {
    padding-bottom: 1px;
    padding-top: 31px;
    padding-left: 5px;
  }

  .week-product__subtitle {
    color: #63d1bb;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    padding-left: 7px;
  }

  .week-product__description {
    grid-area: 2 / 1 / 3 / 2;
    padding-bottom: 30px;
  }

  .week-product__description > p {
    color: #444444;
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    margin: 0;
    padding-left: 5px;
  }

  .week-product__features {
    border-collapse: collapse;
    min-width: 260px;
  }

  .week-product__features-options {
    border-bottom: 1px solid #ececec;
    height: 41px;
  }

  .week-product__features-item {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding-left: 5px;
  }

  .week-product__features-item--padding {
    padding-right: 31px;
    padding-left: 5px;
  }

  .week-product__photo {
    grid-area: 3 / 1 / 4 / 2;
    padding-bottom: 21px;
    padding-left: 5px;
  }

  .week-product__order {
    display: flex;
    flex-direction: column;
    padding-bottom: 74px;
  }

  .week-product__price {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 25px;
    padding-left: 72px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .week-product___wrapper {
    display: grid;
    grid-template-columns: 383px 220px 1fr;
    grid-template-rows: 70px 268px;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-top: 52px;
  }

  .week-product__title {
    .font;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    grid-column: 1/3;
    padding-left: 25px;
  }

  .week-product__subtitle {
    .font;
    color: #63d1bb;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    justify-self: end;
    padding-right: 50px;
    padding-top: 6px;
  }

  .week-product__description {
    grid-area: 2 / 1 / 3 / 2;
    .font;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-left: 50px;
    width: 292px;
    height: 100%;
    padding-bottom: 100px;
  }

  .week-product__features {
    .font;
    grid-area: 3 / 1 / 4 / 2;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border-collapse: collapse;
    margin-top: 50px;
  }

  .week-product__features-options {
    border-bottom: 1px solid #ececec;
    height: 38px;
  }

  .week-product__features-item {
    padding: 0 0 16px 0;
  }

  .week-product__features-item--title {
    width: 97px;
  }

  .week-product__order {
    grid-area: 3/ 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 45px;
  }

  .week-product__price {
    padding-top: 10px;
    .font;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 33px;
  }

  .week-product__photo {
    grid-area: 2 / 2 / 5 / 3;
    padding-top: 32px;
  }

  .week-product {
    background-image: url("../../img/desktop/zigzag-line-desktop.svg");
    background-position: bottom center;
    background-size: auto;
    background-repeat: repeat-x;
    padding-bottom: 62px;
  }
}

@media (min-width: 1150px) {
  .week-product___wrapper {
    display: grid;
    grid-template-columns: 147px 350px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding: 50px 50px 78px;
  }

  .week-product__title {
    .font;
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    margin: 0;
    z-index: 999;
    grid-column: 2/4;
    height: 55px;
    padding-top: 44px;
    padding-left: 14px;
  }

  .week-product__subtitle {
    .font;
    grid-area: 1 / 1 / 2 / 2;
    flex-direction: column;
    padding: 94px 0 0 10px;
  }

  .week-product__subtitle-text {
    display: block;
    color: #63d1bb;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
  }

  .week-product__description {
    .font;
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    max-width: 292px;
    display: flex;
    flex-direction: column;
    padding: 164px 0 0 30px;
  }

  .week-product__features {
    .font;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border-collapse: collapse;
    margin-top: 25px;
  }

  .week-product__features-options {
    border-bottom: 1px solid #ececec;
  }

  .week-product__features-item {
    padding: 12px 0 12px 0;
  }

  .week-product__order {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-row: 1/1;
    align-self: flex-end;
    padding-top: 10px;
  }

  .week-product__price {
    padding-top: 10px;
    .font;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 33px;
  }

  .week-product__photo {
    grid-area: 1 / 3 / 2 / 4;
    padding-top: 27px;
    padding-left: 28px;
  }

  .week-product {
    background-image: url("/img/desktop/zigzag-line-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 10px;
  }
}
