@media (max-width: 767px) {
  .zig-zag {
    background: url("../../img/tablet/zigzag-line-tablet.svg") no-repeat;
    height: 30px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .zig-zag {
    background: url("../../img/tablet/zigzag-line-tablet.svg") no-repeat;
    height: 17px;
    padding-bottom: 55px;
  }
}

@media (min-width: 1150px) {
  .zig-zag {
    background: url("../../img/desktop/zigzag-line-desktop.svg");
    height: 23px;
    width: 96%;
  }


  .zig-zag--fill {
    background: url("../../img/desktop/zigzag-fill-desktop.svg");
    margin-top: -15px;
    height: 34px;
    z-index: 999;
    position: relative;
    margin-left: 0;
  }
}
