@media (max-width: 767px) {
  .zig-zag {
    background: url("../img/tablet/zigzag-line-tablet.svg") no-repeat;
    height: 30px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .zig-zag {
    background: url("../img/tablet/zigzag-line-tablet.svg") repeat-x;
    height: 17px;
    padding-bottom: 55px;
  }

  .zig-zag__index::after {
    content: "";
    position: absolute;
    top: 816px;
    width: 100%;
    height: 15px;
    background-image: url("../img/desktop/zigzag-fill-desktop.svg");
    background-position: center top;
    background-repeat: repeat-x;
    background-size: auto 134%;
  }

  .header-section__zig-zag-catalog {
    margin-top: -25px;
    height: 34px;
    z-index: 999;
    position: relative;
    background: url("../img/desktop/zigzag-fill-desktop.svg") repeat-x right;
  }
}

@media (min-width: 1150px) {
  .zig-zag {
    background: url("../img/desktop/zigzag-line-desktop.svg") repeat-x right;
    height: 23px;
    margin-bottom: 68px;
  }

  .zig-zag__index::after {
    content: "";
    position: absolute;
    top: 803px;
    width: 100%;
    height: 24px;
    background-image: url("../img/desktop/zigzag-fill-desktop.svg");
    background-position: center top;
    background-repeat: repeat-x;
    background-size: auto;
  }


  .header-section__zig-zag-catalog {
    margin-top: -15px;
    height: 34px;
    z-index: 999;
    position: relative;
    background: url("../img/desktop/zigzag-fill-desktop.svg") repeat-x right;
  }
}
