
.product-video {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 0px;
  min-width: 100%;
  padding: 30px 0 50px 50px;
}

.video {
  grid-area: 1 / 1 / 4 / 2;
  min-width: 682px;
}

.button {
  grid-area: 3 / 2 / 4 / 3;

}

.product-video__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-area: 1 / 2 / 2 / 3;
}

.product-video__title::before {
  content: url("../../../../img/mobile/icon-video.svg");
}


.product-video__description {
  grid-area: 2 / 2 / 3 / 3;
  max-width: 252px;
  .font;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  justify-self: center;
}

.product-video__order-wrapper {
width: 367px;
  display: flex;
  flex-direction: column;

}
