.reviews {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 0 30px;
}

.reviews__header {
  grid-area: 1 / 1 / 2 / 2;
}

.reviews__button {
  grid-area: 5 / 1 / 6 / 2;
  padding-bottom: 10px;
}
