@font-face {
  font-family: 'Open Sans', Arial;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/OpenSans-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Open Sans', Arial;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/OpenSans-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/OpenSans-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@media (max-width: 320px) {
  body {
    font-family: 'Open Sans', Arial;
    font-size: 17px;
    background-color: #ffffff;
    margin: 0 auto;
  }

  header {
    display: flex;
    justify-content: center;
    padding-left: 18px;
    mix-blend-mode: normal;
    box-shadow: 0 1px 0 #ececec, inset 0px 1px 0px #ececec;
    min-height: 79px;
    align-items: center;
  }

  .menu__hamburger-menu {
    display: flex;
  }

  #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__hamburger-btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: fixed;
    top: 26px;
    left: 269px;
    width: 20px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__hamburger-btn > span,
  .menu__hamburger-btn > span::before,
  .menu__hamburger-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #231f20;
  }
  .menu__hamburger-btn > span::before {
    content: "";
    top: -6px;
  }
  .menu__hamburger-btn > span::after {
    content: "";
    top: 6px;
  }

  /* контейнер меню */
  .menu__menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: left;
    padding-left: 26px;
    font-weight: 600;
    line-height: 100px;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  #menu__toggle:checked ~ .menu__hamburger-btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__hamburger-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__hamburger-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__menu-box {
    visibility: visible;
    left: 0;
  }

  .introduce {
    padding-top: 1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-bottom: 30px;
  }

  .introduce__picture {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7c7c7;
    background-image: url("../source/img/hero-mobile@2x.png");
    min-height: 300px;
  }

  .intoduce__slogan {
    font-weight: 700;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 30px;
    mix-blend-mode: normal;
  }

  .introduce__interior {
    grid-area: 2 / 1 / 3 / 2;
    min-height: 103px;
    background-color: #63d1bb;
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .introduce__interior-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    width: 130px;
    color: #ffffff;
    padding-left: 0px;
  }

  .introduce__toys {
    grid-area: 3 / 1 / 4 / 2;
    min-height: 103px;
    background-color: #56c3b2;
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .introduce__toy-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    width: 130px;
    color: #ffffff;
    padding-left: 0px;
  }

  .introduce__toy-text--padding {
    padding-left: 10px;
  }

  .week-product {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 30px 0 30px;
  }

  .week-product__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .week-product__title {
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 28px;
  }

  .week-product__title--padding {
    padding-bottom: 3px;
  }

  .week-product__subtitle {
    color: #63d1bb;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
  }

  .week-product__header {
    grid-area: 1 / 1 / 2 / 2;
  }

  .week-product__description {
    grid-area: 2 / 1 / 3 / 2;
  }

  .week-product__description > p {
    color: #444444;
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 30px;
  }

  .week-product__features {
    border-collapse: collapse;
  }
  .week-product__features-options {
    border-bottom: 1px solid #ececec;
  }

  .week-product__features-item {
    padding: 16px 0 16px 0;
  }

  .week-product__features-item--padding {
    padding-right: 85px;
  }

  .week-product__photo {
    grid-area: 3 / 1 / 4 / 2;
    padding-top: 28px;
    padding-bottom: 25px;
  }

  .week-product__order {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 4 / 1 / 5 / 2;
  }

  .week-product__price {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 25px;
  }

  .button {
    width: 100%;
    background: #ffffff;
    border: 2px solid #444444;
    box-sizing: border-box;
    padding: 16px 70px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }

  .zig-zag {
    padding-top: 36px;
    padding-bottom: 15px;
  }

  .about-info {
    padding: 0 30px 0 30px;
  }

  .about-info > div > div > img {
    padding-bottom: 10px;
  }

  .about-info__text {
    padding-bottom: 30px;
  }

  .about-info__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .about-info__flower-wrapper {
    grid-area: 1 / 1 / 2 / 2;
  }

  .about-info__wtf-wrapper {
    grid-area: 2 / 1 / 3 / 2;
  }

  .about-info__heart-wrapper {
    grid-area: 3 / 1 / 4 / 2;
  }

  .about-info__clew-wrapper {
    grid-area: 4 / 1 / 5 / 2;
  }

  .about-info__rocket-wrapper {
    grid-area: 5 / 1 / 6 / 2;
  }

  .about-info__gift-wrapper {
    grid-area: 6 / 1 / 7 / 2;
  }

  .about-info__text {
    line-height: 20px;
    font-weight: 700;
  }

  .reviews {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 30px;
  }

  .reviews__header {
    grid-area: 1 / 1 / 2 / 2;
  }

  .reviews-body {
    grid-area: 2 / 1 / 3 / 2;
  }

  .reviews-body__text {
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 23px;
  }

  .reviews-body__contacts {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
  }

  .reviews-body__contact-name {
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 5px;
  }

  .reviews-body__contact-email {
    line-height: 24px;
    padding-bottom: 30px;
  }

  .reviews-navigation {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    max-height: 52px;
    width: 100%;
    padding-bottom: 30px;
  }

  .reviews-navigation__left-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ececec;
    box-sizing: border-box;
    max-height: 52px;
    width: 100%;
  }

  .reviews-navigation__right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ececec;
    box-sizing: border-box;
    min-height: 52px;
    width: 100%;
  }

  .reviews-navigation__left-arrow > img,
  .reviews-navigation__right-arrow > img {
    padding: 13px 38px;
  }

  .reviews__button {
    grid-area: 5 / 1 / 6 / 2;
    padding-bottom: 10px;
  }

  .contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 60px;
  }

  .contacts__wrapper {
    grid-area: 1 / 1 / 2 / 2;
  }
  .contacts__email {
    grid-area: 2 / 1 / 3 / 2;
    min-width: 76px;
  }

  .contacts__adress {
    display: flex;
    grid-area: 3 / 1 / 4 / 2;
  }

  .contacts__email-title,
  .contacts__adress-title {
    padding-right: 40px;
  }

  .contacts__adress {
    align-self: flex-end;
  }

  .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -60px;
  }

  .map__button {
    padding: 40px 0 0 0;
    max-width: 260px;
  }

  .map::after {
    content: url('../source/img/map-pin.svg');
    position: relative;
    bottom: 420px;
    left: 16px;
  }

  .last-button {
    line-height: 21px;
    padding: 16px 37px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #f1f1f1;
    min-height: 160px;
  }
  .social-wrapper {
    justify-self: center;
    max-width: 260px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 1px solid #e5e5e5;
  }
  .developer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
  }

  .social-wrapper__social-icon {
    width: 22px;
    height: 21px;
    padding-right: 17px;
  }

  .social-facebook {
    width: 15px;
    height: 28px;
    padding: 0 40px 0 30px;
  }

  .social-inst {
    padding-left: 20px;
  }

  .developer__titile {
    font-size: 19px;
    line-height: 18px;
    padding-right: 27px;
  }
}
