
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  .font;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

}

.contacts--title {
  padding-top: 38px;
  padding-bottom: 28px;
}

.contacts__email-title,
.contacts__address-title {
  padding: 0 30px 0px 30px;
}

.contacts__icon {
  display: none;
}

.contacts__email-text {
  border-bottom: 1px solid #62D1BA;
}

.contacts___email {
  padding-bottom: 50px;
}

.contacts__address {
  display: flex;

}

.contacts_map__button {
  display: flex;
  padding: 0px 30px 39px 30px;
  margin-top: -75px;
}
