
.introduce {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.introduce__picture {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7c7c7;
  background-image: url("../../../../img/hero-mobile@2x.jpg");
  min-height: 283px;
  min-width: 320px;
}

.introduce__slogan {
  font-family: @font;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 52px;
}


