input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  line-height: 20px;
  cursor: pointer;
}

input[type="radio"]:checked + label::before,
input[type="radio"]:not(:checked) + label::before {
  content: "";
  width: 38px;
  height: 37px;
  border: 2px solid #444444;
  background-color: #ffffff;
  border-radius: 100%;
}

input[type="radio"]:checked + label::after,
input[type="radio"]:not(:checked) + label::after {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #62d1ba;
  content: "";
  position: absolute;
}

input[type="radio"]:checked:focus + label::before,
input[type="radio"]:not(:checked):focus + label::before {
  border: 2px solid #444444;
  border-radius: 100%;
  box-sizing: border-box;
  width: 46px;
  height: 46px;
}

input[type="radio"]:not(:checked) + label::after {
  opacity: 0;
}

input[type="radio"]:checked + label::after {
  opacity: 1;
}

input[type="radio"]:hover {
  //background-color: #ff5757;
}

// checkboxes
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: 3px;
  top: -10px;
  width: 34px;
  height: 34px;
  border: 2px solid #444444;
  background-color: #ffffff;
}

input[type="checkbox"]:checked:hover + label::before,
input[type="checkbox"]:not(:checked):hover + label::before {
  background: rgba(255, 255, 255, 0.6);
}

input[type="checkbox"]:checked:active + label::before,
input[type="checkbox"]:not(:checked):active + label::before {
  background: rgba(255, 255, 255, 0.3);
}

input[type="checkbox"]:checked:focus + label::before,
input[type="checkbox"]:not(:checked):focus + label::before {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #444444;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
}

input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::after {
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(-45deg);
  content: "";
  position: absolute;
}

input[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
}

input[type="checkbox"]:focus + label::before {
  outline: none;
}

input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

@media (max-width: 767px) {
  input[type="checkbox"]:checked + label::after,
  input[type="checkbox"]:not(:checked) + label::after {
    left: 11px;
    top: -1px;
    width: 19px;
    height: 12px;
  }

  input[type="checkbox"]:checked:focus + label::before,
  input[type="checkbox"]:not(:checked):focus + label::before {
    padding: 8px;
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    padding-left: 64px;
  }

  input[type="radio"]:checked:focus + label::before,
  input[type="radio"]:not(:checked):focus + label::before {
    padding: 8px;
  }

  input[type="radio"]:checked + label::after,
  input[type="radio"]:not(:checked) + label::after {
    left: 15px;
    top: 8px;
  }

  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    padding-left: 63px;
  }

  input[type="radio"]:checked + label::before,
  input[type="radio"]:not(:checked) + label::before {
    position: absolute;
    left: 2px;
    top: -3px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  input[type="checkbox"]:checked + label::after,
  input[type="checkbox"]:not(:checked) + label::after {
    left: 8px;
    top: 9px;
    width: 22px;
    height: 13px;
  }

  input[type="checkbox"]:checked:focus + label::before,
  input[type="checkbox"]:not(:checked):focus + label::before {
    padding: 8px;
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    padding-left: 70px;
    padding-right: 80px;
    min-width: 100px;
  }

  input[type="radio"]:checked:focus + label::before,
  input[type="radio"]:not(:checked):focus + label::before {
    padding: 8px;
  }

  input[type="radio"]:checked + label::after,
  input[type="radio"]:not(:checked) + label::after {
    left: 14px;
    top: 14px;
  }

  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    padding-left: 80px;
  }

  input[type="radio"]:checked + label::before,
  input[type="radio"]:not(:checked) + label::before {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (min-width: 1150px) {
  input[type="checkbox"]:checked + label::after,
  input[type="checkbox"]:not(:checked) + label::after {
    left: 8px;
    top: 9px;
    width: 22px;
    height: 13px;
  }

  input[type="checkbox"]:checked:focus + label::before,
  input[type="checkbox"]:not(:checked):focus + label::before {
    padding: 8px;
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    padding-left: 70px;
    padding-right: 80px;
    min-width: 100px;
  }

  input[type="radio"]:checked:focus + label::before,
  input[type="radio"]:not(:checked):focus + label::before {
    padding: 8px;
  }

  input[type="radio"]:checked + label::after,
  input[type="radio"]:not(:checked) + label::after {
    left: 14px;
    top: 14px;
  }

  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    padding-left: 80px;
  }

  input[type="radio"]:checked + label::before,
  input[type="radio"]:not(:checked) + label::before {
    position: absolute;
    left: 0;
    top: 0;
  }
}
